@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root{
    --font1:'Satisfy', cursive;

}
*{
    padding: 0px;
    margin: 0px;
}
html,body{
    min-height: 100vh;
    background-color: white;
    font-family: var(--font1);
}
body{
    font-size: 3.0vw;
    @font-face {
        font-family: 'Satisfy', cursive;
        src: url();
    }
}
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 50px;

}
header>h1{
    padding-top: 50px;
    font-variant: small-caps;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(21, 143, 31);
    width: 100%;
    background-attachment: fixed;
    
    
}
section.imagem>p{
    display: block;
    background-color: rgba(7, 7, 7, 0.637);
    max-width: 300px;
    padding: 20px;
    
}
section>p{
    padding-bottom: 2em;
    
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: center right;
    background-size: cover;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.432);
    padding: 20px;

}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: center right;
    background-size: cover;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.432);
    padding: 20px;
    
}
section.imagem{
    color: white;
    display: inline-block;
    background-color: rgb(31, 20, 126); 
    padding: 10px;
    max-width: 96%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}
a:hover{
    text-decoration: underline;
}
footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
    
